{% extends "base.html" %}
{% load thumbnail %}
{% block title %}Dashboard{% endblock %}

{% block content %}
    <div class="content">
        <div class="row align-items-start">
            <h1 class="m_2" style="padding-bottom: 20px;padding-left: 13px;">My Favorite Movies</h1>
        </div>

        <div class="row align-items-start">
            {% for movie in movies %}
                <div class="col-md-2 col-xs-3" style="padding-bottom: 10px;">
                        <a href="{{ movie.get_absolute_url }}" class="hvr-shutter-out-horizontal">
                            {% thumbnail movie.poster "189x252" crop="100%" as im %}
                                <img src="{{ im.url }}" class="img-responsive" alt=""/>
                            {% endthumbnail %}
                        </a>
                    <br>
                </div>
            {% endfor %}
        </div>

        <div class="row align-items-start">
            <h1 class="m_2" style="padding-top: 30px;padding-left: 13px;">My Comments</h1>
        </div>

        <div class="row align-items-start" style="padding-left: 13px;">
                <ul class="single_list">
                    {% for short_comment in short_comments %}
                        <li>
                            <div class="data">
                                <div class="title">{{ short_comment.movie }} / {{ short_comment.created }}
                                    / {{ short_comment.rank|floatformat:1 }}</div>
                                <p>{{ short_comment.body }}</p>
                            </div>
                            <div class="clearfix"></div>
                        </li>
                    {% endfor %}
                </ul>
                <div class="clearfix"></div>
        </div>

            <div class="row align-items-start">
            <h1 class="m_2" style="padding-top: 30px;padding-left: 13px;">My Movie Reviews</h1>
        </div>

        <div class="row align-items-start" style="padding-left: 13px;">
            <div class="box_3">
                <ul class="single_list">
                    {% for comment in comments %}
                        <li>
                            <div class="data">
                                <div class="title">
                                    <a href="{{ comment.get_absolute_url }}">{{ comment.title }}</a>
                                </div>
                                <p>{{ comment.body|truncatewords:100 }}</p>
                            </div>
                            <div class="clearfix"></div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

    </div>
{% endblock %}
