{% extends "base.html" %}

{% block title %}Edit your account{% endblock %}

{% block content %}
    <div class="content">
        {% if is_update_profile %}
            <h1 class="m_2">Profile updated successfully.</h1>
        {% else %}
            <div class="row" style="padding-left: 20px;">
                <h3 style="padding-bottom: 10px;">Edit your profile</h3>
                <div class="register-top-grid">
                    <form action="" method="post" enctype="multipart/form-data">
                        <div class="to">
                            {{ user_form.as_p }}
                            {{ profile_form.as_p }}
                            {% csrf_token %}
                            <div class="form-submit1" style="float: left;padding-top: 10px;">
                                <input name="submit" type="submit" id="submit" value="Save changes"><br>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        {% endif %}
    </div>

{% endblock %}
