{% extends "base.html" %}
{% load thumbnail %}
{% block title %}Activity detail{% endblock %}

{% block content %}
    <div class="content">
        <div style="margin-left: 15% ; width: 70%">
            <h2 class="m_2">{{ activity.title }}</h2>
            <h4>{{ activity.location }}</h4>
            <div>
                {% thumbnail activity.poster "400" as im %}
                    <img src="{{ im.url }}" class="img-responsive" alt=""/>
                {% endthumbnail %}
            </div>
            <p style="font-size:20px;padding-top: 5px;">Form&nbsp;<strong>{{ activity.start_date }}</strong>
                To&nbsp;<strong>{{ activity.end_date }}</strong></p>
            <br>
            {{ activity.body|linebreaks }}
            <br>
        </div>
    </div>
    <div class="clearfix"></div>
    </div>
{% endblock %}