{% extends "base.html" %}
{% load thumbnail %}
{% block title %}Movie list{% endblock %}


{% block content %}
    <div class="content">
        <div class="row">
            <h1 class="m_2" style="padding-left: 12px;">The most popular</h1>
            <div class="col-md-12 grid_3" style="padding-bottom: 35px;">
                <div id="movie-list">
                    {% for movie in movies %}
                        <div class="col-md-2 grid_2">
                            <a href="{{ movie.get_absolute_url }}" class="hvr-shutter-out-horizontal">
                                {% thumbnail movie.poster "240x310" crop="100%" as im %}
                                    <img src="{{ im.url }}" class="img-responsive" alt=""/>
                                {% endthumbnail %}
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <h1 class="m_2" style="padding-left: 12px;">The high recommended movies</h1>
            <div class="col-md-12 grid_3" style="padding-bottom: 20px;">
                <div id="movie-list">
                    {% for movie in movies_by_rank %}
                        <div class="col-md-2 grid_2">
                            <a href="{{ movie.get_absolute_url }}" class="hvr-shutter-out-horizontal">
                                {% thumbnail movie.poster "240x310" crop="100%" as im %}
                                    <img src="{{ im.url }}" class="img-responsive" alt=""/>
                                {% endthumbnail %}
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
